@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root {
	--font-roboto: 'Roboto', serif;
	--h1: max(2.2rem, 3.9vw);
	--tomato: hsl(4, 100%, 67%);
	--tomato-opacity: hsl(4, 100%, 67%, 0.2);
	--darkSlateGrey: hsl(234, 29%, 20%);
	--charcoalGrey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--grey-opacity: hsl(231, 7%, 60%, 0.5);
	--white: hsl(0, 0%, 100%);
	--charcoalGrey-shadow: rgb(69, 73, 130);
	--active: linear-gradient(
		to right,
		hsl(353.53, 100%, 67.25%),
		hsl(14.92, 100%, 65.29%)
	);
}

/* Presets ___________________________________________*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: var(--font-roboto);
	font-size: 16px;
	font-weight: 500;
	background: var(--charcoalGrey);
	line-height: 150%;
	color: var(--charcoalGrey-shadow);
}

/* Main Container _____________________________________________*/
/* ___________________________________________________________ */

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 3rem;
	padding: 24px;
	max-width: 56.7rem;
	border-radius: 2rem;
	background-color: var(--white);
}

/* Hero img __________________________________________*/
.hero-div {
	flex-basis: 52%;
	display: flex;
	border-radius: 1rem;
	overflow: hidden;
}

.hero-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: right;
}

/*  Content section __________________________________*/
.content {
	flex-grow: 0;
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin-left: 2.4rem;
	padding-right: 0.8rem;
}

.content > *:not(:last-child) {
	margin-bottom: 2.6rem;
}
.title {
	font-size: var(--h1);
	color: var(--darkSlateGrey);
}

.info {
	margin-bottom: 1.5rem;
}

/* List section ______________________________________*/
.list {
	list-style: none;
}

.list-item {
	padding-left: 2.2rem;
	background: url('/assets/images/icon-list.svg') no-repeat left top;
}

.list-item:not(:last-child) {
	margin-bottom: 0.6rem;
}

/* 	Form section	_________________________________ */
#form {
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.4em;
	font-size: 0.8rem;
	font-weight: 700;
}

#form label {
	font-weight: 900;
}

#email,
.btn {
	padding: 1.2rem;
	font-size: inherit;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 500;
}

#email::placeholder {
	color: var(--grey-opacity);
}

#email {
	margin-bottom: 1.3rem;
	border: 2px solid var(--grey-opacity);
}

.btn {
	background: var(--darkSlateGrey);
	color: var(--white);
	border: none;
}

.btn:hover {
	background-color: var(--charcoalGrey);
}

.btn:active {
	background: var(--active);
}

.invalid-input {
	background: var(--tomato-opacity);
	color: var(--tomato);
}

.message-alert {
	color: var(--tomato);
}

/* Message-send container _______________________*/
/*  _____________________________________________*/
#success-container {
	flex-direction: column;
	justify-content: center;
	gap: 0;
	padding: 3.5rem;
	max-width: 30rem;
}

.hidden {
	display: none;
}

.icon {
	margin-bottom: 1.5rem;
}

#success-container .title {
	line-height: 3.5rem;
	margin-bottom: 1.2rem;
}

#confirmation {
	margin-bottom: 2rem;
}

#email-success {
	font-weight: 900;
	color: var(--darkSlateGrey);
}

/* Footer _______________________________________*/
.attribution {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: 100vw;
	padding: 1rem;
	color: var(--white);
	text-align: center;
	text-decoration: none;
}

.attribution a {
	color: var(--active);
}

/* MEDIA QUERIES________________________________ */

/* Large Screens over 1500px */
@media (width>1500px) {
	.container {
		max-width: 59rem;
	}
}

/* Mobile screen */
@media (width < 510px) {
	html {
		font-size: 16px;
	}

	main {
		height: auto;
	}

	.container {
		flex-direction: column;
		margin: 0;
		padding: 0;
		border-radius: 0;
	}

	.content {
		margin: 0 auto;
		padding: 0 1.2rem 2.8rem 1.2rem;
	}

	.hero-div {
		margin-bottom: 1rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.title {
		font-size: 2.5rem;
	}

	/*  Success container */
	#success-container {
		height: 100vh;
		justify-content: center;
		gap: 0;
		padding: 0 1.2rem 2.8rem 1.2rem;
		max-width: 30rem;
	}

	.icon {
		margin-top: auto;
	}

	#success-container .title {
		line-height: 2.5rem;
		margin-bottom: 1.2rem;
	}

	.btn {
		margin-top: auto;
	}

	.attribution {
		position: relative;
		flex-direction: column;
		padding: 1rem;
	}
}
